* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#display {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
}

.bookstyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

form,section,h1 {
    margin: 100px auto;
    width: 50%;
}

.bookstyle:nth-child(odd) {
    background: rgb(208, 208, 208);
  }

.remove{
    margin-right: 10px;
    align-content: center;
    display: flex;
   
}


.form1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

h1{
    text-align: center;
}

